html, 
body {
    color: #40514E;
    margin: 0;
    font-family: 'Lora', sans-serif;  
  }
  h1  {
    font-family: "Raleway-bold", sans-serif;
    font-size: 5.5rem;
    color: white;
    text-align: center; 
  }
  h2 {
    font-family: "Raleway-bold", sans-serif;
    color: #616161;
    text-align: center;
  } 
  h3 {
    font-family: "Raleway", serif;
    font-weight: 800;
    color: #9d8f8f;
    text-align: center;
    font-weight: bold;
  }
  p{
    line-height: 18pt;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #585858;
  }
  

/* Header Style */

  .top-container {
  position: relative;
  text-align: center;
  background-color: #F2E9D0;
  color:white;
  padding: 250px 0;
  background-image: url("https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
  }
  @media screen and (max-width: 400px){  
    .top-container{
    padding: 14.6875rem 0;
      }
    }
  .body-h2{
  color: white;
  margin: 50px auto;
  }
  .dev{
  text-decoration: underline;
  }
  p.intro {
    font-weight: 200px;
    
  }
  a.brk-btn:link{
  color:white;
  }
  a.brk-btn:hover{
  color:white;
  font-weight: bold;
  }
   .brk-btn {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  background: none;
  color: white;
  text-decoration: none;
  border: 0.2em solid white;
  padding: 0.5em 1em;
   }
   .brk-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
     .brk-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
     }
       .brk-btn:hover:before{
      right: 80%;
       }
       .brk-btn:hover::after{
      left: 80%;
       }



/* Info Style */

  hr.solid {
  border-top: 3px solid #616161;;
  width: 5%;
  }

  /* About Me section */

  .profile{
    padding: 12px 50px;
    background-color:#f1f1f1;
  }
  .profpic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 25px 0px 25px 
  }

  .intro{
    width: 42%;
    margin: 10px auto;
  }
  @media screen and (max-width: 400px){  
    .intro{
      width: 100%;
      margin: 10px auto;
    }
  }
 
  /* Skill section */

  .middle-container {
    background-color: white;
  }
  .my-skill {
  padding-top:25px;
  }
  .skill-row{
  width: 70%;
  margin: 0 auto;
  text-align: left;
  line-height: 2;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: unset;
  }

  .skilltech-row{
    width: 70%;
    margin: 0 auto;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: unset;
  }
  .soft-skill-img {
    width: 80px;
    float: left;
    margin: 0 17px 5px 0;
  }
  .skill {
    padding:25px;
  }
  .skill-pic{
    width: 50px;
    margin: 10px 10px 20px;
    text-align: center;
  }
  
  .skill-React{
    width: 90px;
  }
  

  @media screen and (max-width: 400px){

    .skill-row{
      width: 90%;
      margin: 0 auto;
      text-align: center;
      line-height: 1;
      }
    
      .skilltech-row{
        width: 100%;
        margin: 0 auto;
      }

      .skill-pic{
        width: 15%;
        margin: 10px 10px 20px;
        text-align: center;
      }

      .soft-skill-img {
        width: 22%;
        float: left;
        margin: 0 15px 5px 0;
      }
    
  }

  /* Contact-Me section */

  .contact-message{
    width: 40%;
    margin: 20px auto 20px;
  }

  .contact-me {
    padding:10px 50px ;
    background-color:#f1f1f1;
  }
  .contact-me h3{
    color: #f1935c;
  }
  
  @media screen and (max-width: 400px){
    .contact-message{
      width: 100%;
      margin: 10px auto 10px;
    }
  }

/* Footer Style */

  .bottom-container {
    background-color:black;
    padding: 12px 0;
    color: #EAF6F6;
  }
  .copyright{
    padding: 20px 0;
    font-size: 0.75rem;
    color:white;
  }
  .icon-social{
    color: #f1935c;
    margin: 10px;
  }
  .icon-social:hover{
    color: #EAF6F6;
  }

  @media screen and (max-width: 400px){
    .icon-social{
      color: #f1935c;
      margin: 25px;
      width: 50%;
    }

  }
  
  

 
  
  

  
  
  
  
  

  
 
  
  
  
  

  
  
    
  
  
  
